@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'poppins';
}
@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf');
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
